.idea
venv/
.idea/
__pycache__/
*.log
env/
**/__pycache__
/venv
/env
bin/
logs/
yelp_dataset_challenge_academic_dataset/
Hygiene.tar.gz
student_dn_annotations.txt
Refined_Italian.label
predictions.csv
expanded_dishes.txt
dish_counts.csv
manualAnnotationTask/
Hygiene/